.search__page {
  background-color: var(--main-color);
  height: 100vh;
}

.search__bar {
  align-items: center;
  display: flex;
  height: 29px;
  justify-content: space-around;
  margin: auto;
  position: relative;
  width: 40%;
}

.search__bar input {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  font-size: 18px;
  padding: 8px;
  width: 100%;
}

.search__bar button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 20px;
  color: var(--accent);
  cursor: pointer;
  font-size: 28px;
  font-weight: 500;
  padding: 7px;
  position: absolute;
  right: 5px;
}

.result__text {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
  margin: 57px 36px;
}

.album__warapper {
  align-items: center;
  background-color: var(--tertiary-color);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
  width: 144px;
}

.album__warapper:hover {
  background-color: rgb(72, 70, 70);
}

.album__warapper img {
  border-radius: 5px;
  box-shadow: rgb(22, 22, 22) 3px 2px 16px;
  height: 110px;
  margin-bottom: 18px;
  width: 114px;
}

.album__warapper h3 {
  color: var(--secondary-color);
  font-size: 12px;
}

.album__warapper h4 {
  color: #7a7a7a;
  font-size: 12px;
}

.track__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  height: 500px;
  margin: auto;
  overflow-y: scroll;
  padding: 12px;
  width: 80%;
}

::-webkit-scrollbar {
  margin-left: 30px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(53, 53, 54, 0.233);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}
