@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root{
  --main-color: #16161A;
  --secondary-color: #fffffe;
  --accent: #2CB67D;
  --tertiary-color: #242629;
}

p {
  color: var(--secondary-color);
  font-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
}

audio::-webkit-media-controls-panel {
  background-color: #2CB67D;
  width: 100%;
}

a:visited {
  color: var(--secondary-color);
}

